@set default-theme {
    @const BG: url(default/bg.jpg);
    @const FG: #000;
    @const FG-REVERT: #fff;
    @const TASKS-BG: #f6f6f6;
    @const TASKS-CURRENT-BG: #5696cb;
    @const TASKS-CURRENT-FG: #fff;
    :root { background: @BG; color: @FG; }

    :root vlist#task-pane {
        background-color: @TASKS-BG;
    }

    :root vlist#task-pane > li:current {
        background: #5da1da;
        color: #fff;
    }

    :root vlist#task-pane > li:current div:last-child {
        border-left: 1px solid #fff;
    }

    :root div#new-task {
        color: #aaa;
        background-color: #fafafa;
        box-shadow: 0 0 2px rgba(0, 0, 0, .6);
    }

    :root div#new-task:hover {
        color: #666;
        background: #f6f6f6;
    }

    :root img.task-edit {
        foreground-image: url(default/edit.png);
        size: 24dip;
    }

    :root img.detail {
        foreground-image: url(default/detail.png);
        size: 24dip;
    }

    :root vlist li:current img.detail {
        foreground-image: url(default/detail-sel.png);
    }

    :root input.task-star {
        background: none;
        foreground-image: url(default/star.png);
    }

    :root input.task-star:checked {
        foreground-image: url(default/star-sel.png);
    }

    :root input#new-item-star {
        foreground-image: url(default/star-white.png);
    }

    :root input#new-item-star:checked {
        foreground-image: url(default/star-white-sel.png);
    }

    :root input.task-done {
        background: none;
        foreground-image: url(default/uncheck.png);
    }

    :root input.task-done:checked {
        foreground-image: url(default/check.png);
    }
}
